[snap-seek-cmdk-list] {
  box-sizing: border-box;
  background-color: #fff;
  flex: 1;
  max-height: 400px;
  min-height: 200px;
  overflow-y: auto;
}

[snap-seek-cmdk-group-heading] {
  user-select: none;
  font-size: 12px;
  color: #6f6f6f;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

[snap-seek-cmdk-item] {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}

[snap-seek-cmdk-item]:hover {
  background-color: #f5f5f5;
}

[snap-seek-cmdk-group] {
  padding: 10px 0;
}

.snap-seek-item {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  font-size: 16px;
}

.snap-seek-item-img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.snap-seek-item-title {
  margin: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  color: #222226;
  max-width: 300px;
}

.snap-seek-item-url {
  flex-shrink: 0;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #666;
}

.snap-seek-item-search {
  font-size: 14px;
  color: #999;
  margin-top: 4px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.snap-seek-item-search-tag {
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  padding: 2px;
  margin: 4px;
  font-size: 12px;
  flex-shrink: 0;
}

.snap-seek-item-search-tag span {
  background-color: yellow;
}

.snap-seek-text-content {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #999;
  margin-top: 4px;
}
